
:root {
    --preset--color--base: #1c3f5e;
    --preset--color--secondary: #1c3f5e;
}


* {
    font-family: "Overpass", sans-serif;
}
.main {
    // background: linear-gradient(180deg, var(--preset--color--base) 0 min(24rem, 10%), var(--preset--color--secondary) 0% 30%, var(--preset--color--base) 100%);
    background-color: #1c3f5e;
    color: #fff;
    min-height: calc(100% - 64px);
}
.navbar {
    justify-content: space-between;
    background-color: #101130;
}
span {
    padding-right: 1rem;
}

mat-sidenav-container {
    height: calc(100% - 76px);
}
mat-sidenav, mat-sidenav-content {
    padding: 16px;
}
mat-sidenav {
    background-color: lightcyan;
    width: 200px;
}

header {
    background-color: #5eb3f9;
    color: #fff;
    text-align: center;
    height: 3rem;
    width: 100%;
}
