<div class="main">
    <!-- <img src="/assets/Website-Home-Page-edited-1024x603.png" width="100%"/> -->

    <mat-grid-list [cols]="breakPoint" rowHeight="fit" gutterSize="5em"  (window:resize)="handleSize($event)">
        <mat-grid-tile>
            Omni Method is designed to help you achieve your highest potential by
            providing detailed information about your physical abilities
        </mat-grid-tile>
        
        <mat-grid-tile>By identifying your strengths and weaknesses, you can create a personalized
            plan to improve your overall fitness level</mat-grid-tile>
        
        <mat-grid-tile>With 20 different tests, ranging from strength to agility, Omni Method
            provides a comprehensive look at your abilities and offers recommendations
            to help you optimize your performance</mat-grid-tile>
    </mat-grid-list>
</div>
